{% extends 'layout.html' %}

{% block title %}
    Homepage
{% endblock %}

    
{% block body %}

    <!-- <h1>Index Page</h1>
    <h2>Hello flask</h2> -->
    <!-- <nav> &nbsp
        <a href="login">Go to login page</a> &nbsp
        <a href="register">Go to register page</a>
    </nav> -->

    <center>
    <h1 style="font-size: 70px; font-weight: 700;"> A faster way to build <br>
        and share data apps </h1>
        
        <h6 style="color: grey; font-size: 30px;">
        Streamlit turns data scripts into shareable web apps in minutes. <br>
        All in pure Python. No front‑end experience required.
        </h6>

        <br>
        
        <button type=click class="btn btn-primary"> <a href="https://streamlit.io/"  style="padding: 15px 32px; text-decoration: none; color: white; font-size: 18px;"> Try Streamlit Now </button>
        
        <br><br>
        
        <video width="70%" height="50%" controls autoplay> 
          <source src="https://s3-us-west-2.amazonaws.com/assets.streamlit.io/videos/hero-video.mp4" type="video/mp4">
        </video>
        
        </center>

{% endblock%}



